@font-face {
    font-family: CODE Light;
    src: url('/assets/CODE Light');
}

.navbar-brand {
	font-family: Slabo 27px;
	font-size: 300%;
}

.navbar.navbar-default .navbar-nav > li > a {
	font-family: Quicksand;
	margin-top: 25px;
}

.navbar {
	background-color: #c7c5a7;
	height: 100px;
}

.navbar.navbar-default .navbar-nav > li > a{
	font-size: 150%;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-form {
	margin-top: 25px;
}


/*-----------sticky footer-------------*/


html, body {
	height: 100%;
}


.page-wrap {
	min-height: 100%;
	margin-bottom: -80px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	height: 80px;
}

.site-footer {
	background: #8ba88f;
}

.copyright {
	float: right;
	display: inline;
	color: white;
}

.site-footer {
	padding: 1em;
}

/*---------------------general-----------------*/

body { 
    margin: 0; 
} 

h1 {
    font-family: CODE Light;
    text-align: center;
    font-size: 400%;
}