/*-----------sticky footer-------------*/


html, body {
	height: 100%;
}


.page-wrap {
	min-height: 100%;
	margin-bottom: -80px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	height: 80px;
}

.site-footer {
	background: #e42e1d;
}

.copyright {
	float: right;
	display: inline;
	color: white;
}

.site-footer {
	padding: 1em;
}


